<% layout("/layouts/boilerplate.ejs") %>

<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Edit this Listing</h3>
    <form
      action="/listings/<%= listing._id %>/edit?_method=PUT"
      method="post"
      novalidate
      class="needs-validation"
    >
      <div>
        <label for="title" class="form-label"> Title </label>
        <input
          type="text"
          name="listing[title]"
          value="<%= listing.title %>"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good!</div>
        <div class="invalid-feedback">Please provide a valid title</div>
      </div>
      <div>
        <label for="description" class="form-label"> Description </label>
        <textarea class="form-control" name="listing[description]" required><%= listing.description.trim() %></textarea
        >
        <div class="valid-feedback">Sounds fun</div>
        <div class="invalid-feedback">Please provide a description</div>
      </div>
      <div>
        <label for="image" class="form-label"> Image Link: </label>
        <input
          class="form-control"
          type="text"
          name="listing[image]"
          value="<%= listing.image %>"
          required
        />
        <div class="valid-feedback">Amazing image!</div>
        <div class="invalid-feedback">Please provide a valid image url</div>
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            class="form-control"
            type="number"
            name="listing[price]"
            value="<%= listing.price %>"
            required
          />
          <div class="valid-feedback">Amazing pricing!</div>
          <div class="invalid-feedback">Please provide a valid price</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label"> Country </label>
          <input
            class="form-control"
            type="text"
            name="listing[country]"
            value="<%= listing.country %>"
            required
          />
          <div class="valid-feedback">Seems to be fun</div>
          <div class="invalid-feedback">Please provide a valid country</div>
        </div>
      </div>
      <div>
        <label for="location" class="form-label"> Location </label>
        <input
          class="form-control"
          type="text"
          name="listing[location]"
          value="<%= listing.location %>"
          required
        /><div class="valid-feedback">Nice location!</div>
        <div class="invalid-feedback">Please provide a valid location</div>
      </div>
      <button class="btn btn-dark edit-btn mt-3">Submit</button>
    </form>
    <br /><br />
  </div>
</div>
