<% layout("/layouts/boilerplate.ejs") %>
<body>
    <h3>Listing details</h3>
    <img src="<%= data.image %>" style="height: 200px; width: auto;">
    <ul>
        <li>
            Title :<%= data.title%>
        </li>
        <li>
            <%= data.description %>
        </li>
        <li>
            &#8377; <%= data.price.toLocaleString("en-IN") %>
        </li>
        <li>
            Location: <br>
            City: <%= data.location %> <br>
            Country: <%= data.country %>
        </li>
    </ul>
    <a href="/listings/<%= data._id %>/edit">
        <button>
            Edit this Listing
        </button>
    </a>
    <br><br>
    <form action="/listings/<%= data._id %>/delete?_method=DELETE" method="post">
        <button>
            Delete this Listing
        </button>
    </form>
</body>